/*Styles das tags*/

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #F6F6F6;
    margin: 0%;
}

main {
    width: 80%;
    margin: auto;
}

/*Style das classes*/

.hero {
    background-image: url(assets/topo.jpg);
    width: 90%;
    height: 500px;
    margin: auto;
    padding: 10px;
    background-size:cover;
}

.hero nav {
    background-color: #09161d;
    height: 50px;
}

.hero nav ul {
    margin: auto;
    list-style-type: none;
}

.hero img {
    margin-top: 1%;
    margin-left: 2%;
    float: left;
}

.hero li {
    margin-top: 2%;
    margin-right: 2.5%;
    float: right;
    text-transform: uppercase;
}

.hero li a{
    display: block;
    text-align: center;
    color: #F6F6F6;
    text-decoration: none;
}

.content h2{
    text-align: center;
    font-size: 35px;
}

.content p{
    text-align: center;
    font-size: 15px;
}

.showcase{
    padding: 15px;
    margin-top: 15px;
    overflow: hidden;
}

.card{
    width: 32%;
    float: left;
    box-sizing: border-box;
}